<section id="services" class="skills">
    <div class="title-skills">
        <h2>{{titleSkills}}</h2>
    </div>
    <div class="all-skills">
        <div class="skills__container">
            <div class="icon-container">
                <img src="../../../../../assets/svg/web-coding.svg" class="icon">
            </div>
            <span class="text-container">
                <p>{{titleSkills1}}</p>
            </span>
        </div>
        <div class="skills__container">
            <div class="icon-container">
                <img src="../../../../../assets/svg/computer-screen.svg" class="icon">
            </div>
            <span class="text-container">
                <p>{{titleSkills2}}</p>
            </span>
        </div>
        <div class="skills__container">
            <div class="icon-container">
                <img src="../../../../../assets/svg/responsive-webpage.svg" class="icon">
            </div>
            <span class="text-container">
                <p> {{titleSkills3}}</p>
            </span>
        </div>
        <div class="skills__container">
            <div class="icon-container">
                <img src="../../../../../assets/svg/mobile-app.svg" class="icon">
            </div>
            <span class="text-container">
                <p> {{titleSkills4}}</p>
            </span>
        </div>
        <div class="skills__container">
            <div class="icon-container">
                <img src="../../../../../assets/svg/web-domain.svg" class="icon">
            </div>
            <span class="text-container">
                <p> {{titleSkills5}}</p>
            </span>
        </div>
        <div class="skills__container">
            <div class="icon-container">
                <img src="../../../../../assets/svg/content-management.svg" class="icon">
            </div>
            <span class="text-container">
                <p> {{titleSkills6}}</p>
            </span>
        </div>
    </div>


</section>