@import "../../../../../styles/colors.scss";
@import "../../../../../styles/responsive.scss";

.skills {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-bottom: 15%;
  margin-top: 100px;

  @include desktop {
    margin-bottom: 0;
    height: 500px;
  }

  .title-skills {
    font-weight: 300;
    color: $secondary-color;
    background: #f1f1f1;
    width: 90%;
    margin-left: 5%;

    @include desktop {
      margin-top: 50px;
    }
  }

  .all-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    @include desktop {
      padding-top: 2%;
      flex-wrap: nowrap;
    }
    .skills__container {
      display: flex;
      flex-direction: column;
      align-items: initial;
      width: 40%;
      padding-top: 10%;

      @include tablet {
        align-items: center;
      }

      @include desktop {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 40px;
      }
      .icon-container {
        width: 157px;
        .icon {
          width: 100%;
        }
      }
      .text-container {
        border-style: outset;
        border-radius: 43px;
        margin-top: 12%;
        height: 48px;
        color: $primary-color;
        border-color: $secondary-color;

        @include tablet {
          width: 53%;
        }
        @include desktop {
          width: auto;
        }

        p {
          padding: 10px 5px 10px 5px;
          font-size: 1rem;
          font-weight: 700;
          letter-spacing: 2px;

          @include desktop {
            padding: 10px 35px 10px 35px;
          }
        }
      }
    }
  }
}
