<footer>
    <div class="rrss">
        <span class="rrss__container">
            <a href="https://gitlab.com/MariaEugeniaAlbertos" target="_blank"><img src="../../../assets/gitlab.png" class="icon"></a>
        </span>
        <span class="rrss__container">
            <a href="https://www.instagram.com/maeugenialb/" target="_blank"><img src="../../../assets/instagram_icon_125245.png" class="icon"></a>
        </span>
        <span class="rrss__container">
            <a href="https://www.linkedin.com/in/mariaeugeniaalbertos/" target="_blank"> <img src="../../../assets/linkedin.png" class="icon"></a>
        </span>
    </div>
    <div class="rights">
        <p> {{rights}} </p>
    </div>
</footer>