@import "../../../styles/responsive";

footer {
  display: flex;
  flex-direction: column;
  height: 100px;
  text-align: center;
  .rrss {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 7%;
    @include tablet {
      padding-top: 3%;
    }

    @include desktop {
      padding-top: 1%;
    }

    &__container {
      width: 40px;
      margin-left: 1%;
    }


    .icon {
      width: 100%;
      &:hover {
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        transform: rotate(360deg);
        -ms-transition: all 1s ease-in-out;
}
    }
  }
  .rights {
    padding-top: 1%;
    font-size: smaller;
    font-weight: 200;
  }
}
