@import "../../../../../styles/colors.scss";
@import "../../../../../styles/responsive.scss";

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  color: white;
  padding-bottom: 5%;
  margin-top: 100px;
  @include desktop {
    margin-top: 0;
    padding-bottom: 2%;
  }
  .container-title {
    text-align: center;
  }
  h2 {
    padding-top: 2%;
    @include desktop {
      padding-top: 50px;
    }
  }

  .form {
    margin-top: 40px;
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;

    fieldset {
      border: none;
      margin-bottom: 20px;

      .form_input {
        background-color: white;
        border: $secondary-color;
        border-style: solid;
        border-radius: 18px;
        width: 100%;
        height: 42px;
        margin-top: 10px;
        &:focus {
          background-color: grey;
        }
      }
      .form_input:active {
        border: none;
      }

      input::placeholder {
        color: $secondary-color;
        padding-left: 2%;
      }

      textarea {
        background-color: white;
        border: $secondary-color;
        border-style: solid;
        border-radius: 18px;
        width: 100%;
        height: 162px;
        margin-top: 10px;
        &:focus {
          background-color: gray;
        }
      }

      textarea::placeholder {
        color: $secondary-color;
        padding-left: 2%;
        padding-top: 1%;
      }
    }

    button {
      width: 44%;
      height: 37px;
      border: $secondary-color;
      border-style: outset;
      border-radius: 8px;
      background-color: darkslategray;
      color: $secondary-color;
      font-weight: 300;

      @include desktop {
        width: 20%;
        height: 50px;
        border-style: solid;
        border-radius: 8px;
        background-color: white;
        &:hover {
          background-color: grey;
        }
      }
    }
  }
}
