<section id="contact" class="contact">
    <div class="container mt-5">
        <div class="container-title">
        <h2>Contact me!</h2>
        </div>
        <form (ngSubmit)="contactForm(form.value)" #form="ngForm">
        <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="nombre" ngModel>
        </div>
        <div class="form-group">
        <label>Subject</label>
        <input type="text" class="form-control form-input" name="asunto" ngModel>
        </div>
        <div class="form-group">
        <label>E-mail</label>
        <input type="email" class="form-control" name="email" ngModel>
        </div>
        <div class="form-group">
        <label>Message</label>
        <textarea class="form-control" cols="30" rows="6" name="mensaje" ngModel></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
       </div>
</section>

