<div class="mobile" >
  <label class="mobile__label" for="checkbox">
    <div class="mobile__label__content">
      <span class="label__line"></span>
      <span class="label__line"></span>
    </div>
    <div class="mobile__label__content">
      <span class="label__line"></span>
      <span class="label__line"></span>
    </div>
    <div class="mobile__label__content">
      <span class="label__line"></span>
      <span class="label__line"></span>
    </div>
  </label>
  <!--mobile__label-->
  <input class="mobile__input" type="checkbox" id="checkbox" />
  <nav class="mobile__nav">
    <ul>
      <li class="nav__item underline-on-hover" (click)="toAbout()" routerLinkActive="active">{{about}}</li>
      <br>
      <li class="nav__item underline-on-hover" (click)="toPortfolio()" routerLinkActive="active">{{portfolio}}</li>
      <br>
      <li class="nav__item underline-on-hover" (click)="toServices()" routerLinkActive="active">{{services}}</li>
      <br>
      <li class="nav__item underline-on-hover" (click)="toContact()" routerLinkActive="active">{{contact}}</li>

    </ul>
  </nav>
  <!--mobile__nav-->
</div>
<!--mobile-->

