@import "../../../../src/styles/colors.scss";
@import "../../../../src/styles/responsive.scss";




ul,
li {
  list-style: none;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  @include tablet {
    color: black;

  }
  @include desktop {
    color: black
  }
}

/*-----------------------------------------------
MOBILE
Content of mobile menu
-----------------------------------------------*/
.mobile {
  z-index: 2;
  position: relative;
  padding-top: 16px;
  padding-left: 16px;
  height: 70px;
  
}

/*-----------------------------------------------
LABEL
-----------------------------------------------*/
.mobile__label {
  border: solid 2px $terciary-color;
  display: inline-block;
  overflow: hidden;
  padding: 12px 9px;
  width: 47px;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
    /*ANIMAION POSITION ON HOVER*/
    .label__line {
      margin-left: 0px;
    }
    /*ANIMATION DELAY*/
    :nth-child(2) {
      .label__line {
        transition-delay: 0.1s;
      }
    }
    :nth-child(3) {
      .label__line {
        transition-delay: 0.2s;
      }
    }
  }
}
/*LINES CONTENT*/
.mobile__label__content {
  font-size: 0;
  line-height: 0;
  height: 2px;
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0px;
  }
}
/*WHITE LINES*/
.label__line {
  background-color: $terciary-color;
  width: 24px;
  height: 2px;
  display: inline-block;
  margin-left: -33px;
  margin-right: 43px;
  /*LINES ANIMATION*/
  transition: margin-left 0.2s linear;
}

/*-----------------------------------------------
INPUT
-----------------------------------------------*/
.mobile__input {
  display: none;
}

/*-----------------------------------------------
NAV
-----------------------------------------------*/
.mobile__nav {
  margin-top: 10px;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  transition: max-height 1s linear, max-width 0.8s linear;
}
.nav__item {
  white-space: nowrap;
  a {
    text-decoration: none;
    display: block;
    padding: 5px 0px;
    color: black;
    &:after {
      display: block;
      width: 15px;
      height: 2px;
      background-color: #fff;
      content: "";
    }
  }
}
.mobile__input:checked + .mobile__nav {
  max-width: 150px;
  max-height: 200px;
}
/*-----------------------------------------------
GITHUB
-----------------------------------------------*/
.underline-on-hover:hover {
    text-decoration: underline;
    
}



