<section id="about" class="about">
    <div class="row">
        <div class="img-container" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img class="img" src="../../../../../assets/IMG_2090.jpg">
        </div>
        <div class="info-container" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <h2>{{subtitle}}</h2>
            <p> {{infoAbout}}</p>
            <a href="https://drive.google.com/file/d/1DODKuXX2yE8dLktkbS6bMcFiS6Ggc29h/view?usp=sharing" target="_blank"><button>{{resume}}</button></a>
        </div>
    </div>
</section>
 <div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 0" >
       <img src="../../../../../assets/svg/upload.svg" class="icon-top">
    </div>

