@import "../../../../../styles/colors.scss";
@import "../../../../../styles/responsive.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;

    @include tablet {
      width: 95%;
    }

    @include desktop {
      margin-top: 2%;
      flex-direction: row;
      padding-bottom: 2%;
      width: 100%;
    }

    .img-container {
      width: 100%;
      @include tablet {
        width: 90%;
      }
      @include desktop {
        width: 40%;
      }

      .img {
        width: 100%;
        @include tablet {
          width: 100%;
        }
        @include desktop {
          width: 100%;
          height: 741px;
        }
      }
    }

    .info-container {
      width: 100%;
      color: white;
      background-color: $primary-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 6%;
      padding-bottom: 5%;

      @include tablet {
        width: 90%;
        margin-top: 3%;
        padding-bottom: 3%;
      }

      @include desktop {
        width: 60%;
        height: 741px;
        justify-content: center;
        margin-top: 0;
        padding-bottom: 0;
      }

      h2 {
        font-size: 25px;
        text-align: center;
        font-weight: 900;
        padding-top: 3%;

        @include tablet {
          font-size: 49px;
        }

        @include desktop {
          font-size: 33px;
        }
      }
      p {
        padding: 3px 21px 0px 21px;
        font-size: 7vw;
        letter-spacing: 1px;
        font-weight: 100;

        @include tablet {
          font-size: 6vw;
        }

        @include desktop {
          padding: 5px 38px 0px 35px;
          font-size: 2vw;
        }
      }

      button {
        background-color: $secondary-color;
        color: white;
        text-transform: uppercase;
        width: 150px;
        height: 38px;
        border-radius: 10px;
        letter-spacing: 3px;
        border-color: bisque;
        border-style: outset;
        font-family: Monserrat-Light;

        &:hover {
          color: $secondary-color;
          border-color: $secondary-color;
          background-color: $primary-color;
        }
        &:focus {
          color: $secondary-color;
          border-color: $secondary-color;
          background-color: $primary-color;
        }
      }
    }
  }
}

.scroll-to-top {
  position: fixed;
  width: 40px;
  bottom: 2%;
  right: 2%;
  cursor: pointer;

  icon-top {
    width: 100%;
    & :hover {
      transition: step-start;
      -webkit-transition: step-start;
      -moz-transition: step-start;
      -ms-transition: step-start;
      -o-transition: step-start;
    }
  }
}
