@import "../../../../../styles/colors.scss";
@import "../../../../../styles/responsive.scss";

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  font-size: x-large;

  @include tablet {
    height: 700px;
  }

  @include desktop {
    margin-top: 0;
    width: 100%;
    font-size: large;
    height: 800px;
  }
}

.video-container {
  margin-top: 4%;
  font-size: x-large;
  width: 92%;

  @include tablet {
    margin-top: 5%;
    width: 90%;
    font-size: large;
  }
  @include desktop {
    margin-top: 0;
    width: 78%;
    font-size: large;
  }
  .video {
    width: 150%;
    margin-left: -27%;
    @include tablet {
      width: 100%;
      margin-left: 0%;
    }
    @include desktop {
      width: 100%;
      margin-left: 0%;
    }
  }
}

.css-typing h1 {
  border-right: 0.15em solid $secondary-color;
  white-space: nowrap;
  overflow: hidden;
  font-size: 6vw;

  @include desktop {
    font-size: 5vw;
    font-weight: 300;
  }
}
.css-typing h1:nth-child(1) {
  width: 100%;
  animation: type 5s steps(40, end);
  animation-delay: 2s;
  animation-iteration-count: infinite;
  -webkit-animation: type 5s steps(40, end);
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid $secondary-color;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid $secondary-color;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid $secondary-color;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid $secondary-color;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
