<section id="intro" class="intro">

  <div class="video-container">
    <video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true" class="video">
      <source type="video/mp4" src="../../../../../assets/Laptop - 39928.mp4">
    </video>
  </div>

  <div class="css-typing responsive">
    <h1 class="text-center">{{titleIntro}}</h1>
  </div>

</section>