
@font-face {
    font-family: Montserrat-Light;
    src: url(../assets/fonts/Montserrat-Light.ttf);
    font-style: normal;
}



@font-face {
    font-family: Montserrat-Medium;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
    font-style: normal;
}

