@import "../../../../../styles/colors.scss";
@import "../../../../../styles/responsive.scss";

.portfolio {
  text-align: center;
  margin-top: 100px;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-container {
    padding-top: 11px;
    background: #f1f1f1;
    width: 90%;
  }
  .videos-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    @include tablet {
      align-items: center;
      justify-content: center;
    }
    @include desktop {
      justify-content: space-around;
      padding-top: 40px;
      width: 68%;
    }

    .video-container {
      width: 90%;
      margin-top: 10%;
      @include desktop {
        width: 426px;
        height: 240px;
        margin-top: 5%;
      }

      .video {
        width: 100%;
      }
    }

    .transition {
      transition: 0.5s ease-in-out;
    }

    .grow:hover {
      transform: scale(1.7);
      -webkit-transform: scale(1.7);
      -moz-transform: scale(1.7);
      -ms-transform: scale(1.7);
      -o-transform: scale(1.7);
    }
  }
}
