<section id="portfolio" class="portfolio">
  <div class="title-container">
    <h2>{{ titlePortfolio }}</h2>
  </div>
  <div class="videos-box">
    <div class="video-container transition grow">
      <a href="https://gitlab.com/alberto.ml1/travel-app" target="_blank">
        <img src="../../../../../assets/travel.gif" class="video" oncanplay="this.play()"
          onloadedmetadata="this.muted = true">
      </a>
    </div>

    <div class="video-container transition grow">
      <a href="https://gitlab.com/MariaEugeniaAlbertos/my-landing-app" target="_blank">
        <img src="../../../../../assets/safari.gif" class="video" oncanplay="this.play()"
          onloadedmetadata="this.muted = true">
      </a>
    </div>
    <div class="video-container transition grow">
      <a href="https://gitlab.com/MariaEugeniaAlbertos/mi-primer-proyecto-angular/-/tree/develope" target="_blank">
        <img src="../../../../../assets/cocina.gif" class="video" oncanplay="this.play()"
          onloadedmetadata="this.muted = true">
      </a>
    </div>
    <div class="video-container transition grow">
      <a href="https://gitlab.com/MariaEugeniaAlbertos/mi-primer-proyecto-angular/-/tree/develope" target="_blank">
        <img src="../../../../../assets/portfolio.gif" class="video" oncanplay="this.play()"
          onloadedmetadata="this.muted = true">
      </a>
    </div>
  </div>
</section>