<app-intro [dataHomeIntro]="dataHomeIntro"></app-intro>
<app-about [dataHomeAbout]="dataHomeAbout"></app-about>
<app-portfolio [dataHomePortfolio]="dataHomePortfolio"></app-portfolio>
<app-services></app-services>
<app-contact></app-contact>

